@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Outfit:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@700&display=swap');

/*
Imported styles at top, then declared variables at root.
Next declared selectors as much as possible in sequential order of appearance
Media query at bottom
Flex-box row on desktop, while flex-box column on mobile.
Will get better in documentation, debugging and responsive design. This is but my 2nd frontendmentor project
Date: 18.07.22
*/

:root {
--dark-cyan: hsl(158, 36%, 37%);
--cream: hsl(30, 38%, 92%);
--very-dark-blue: hsl(212, 21%, 14%);
--dark-grayish-blue: hsl(228, 12%, 48%);
--white: hsl(0, 0%, 100%);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: var(--cream);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    }

main{
    min-width: 600px;
    width: 30%;
    margin: auto auto;
    border-radius:1rem;
    display: flex;
}

.left{
    width: 50%;
    background-image: url(images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right{
    width: 50%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding:2rem;
}

h1.fraunces{
    font-size: 28px;
    font-weight:bold;
}

.montserrat{
    font-family: Montserrat, sans-serif;
    margin: 0rem 0rem 1rem 0rem;
}

.montserrat#capital{
    font-family: Montserrat, sans-serif;
    margin: 0rem 0rem 1rem 0rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--dark-grayish-blue);
    font-size: 12px;
}

#floral {
    color: var(--dark-grayish-blue);
    font-size: 12px;
}

.fraunces{
    font-family: Fraunces, sans-serif;
    margin: 0rem 0rem 1rem 0rem;
}

#big-line {
    font-size: 26px;
    color: var(--dark-cyan);
}

#line-through {
    text-decoration: line-through;
    font-size: 12px;
    color: var(--dark-grayish-blue);
}

.prices{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20%;
}

button {
    background-color: hsl(158, 36%, 17%);
    color: var(--white);
    border-radius:0.5rem;
    border: 0;
    padding:1rem 3rem;
    width: 100%;
    font-size: 20px;
    cursor: pointer;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width:599px) {

    main{
    min-width: auto;
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    }
    .left{
        width: 100%;
        height: 50%;
        background-image: url(images/image-product-mobile.jpg);
        border-radius: 10px 10px 0 0;
        }
        
    .right{
        width: 100%;
        height: 50%;
        row-gap: 12px;
        padding: 25px;
        border-bottom: 0 0 10px 10px;
        }
        html { font-size: 50%; }
}